# Using Pandas

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [3]:
## Your Code here
cars = pd.read_csv("vehicles.csv")
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [3]:
## Your Code here
cars.shape

(35952, 15)

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [4]:
## Your Code here
cars["Make"] = list(map(lambda x:"Dutton" if ("Dutton"in x) else x, cars["Make"]))

In [5]:
cars.index[np.where(cars['Make'] == 'Dutton')]

Int64Index([11012, 30164, 31754], dtype='int64')

In [6]:
cars.loc[11012,"Make"]

'Dutton'

In [7]:
cars["Make"] = list(map(lambda x:"AM General" if ("American Motors Corporation"in x) else x, cars["Make"]))

In [8]:
cars["Make"] = list(map(lambda x:"BMW" if ("BMW"in x) else x, cars["Make"]))

In [9]:
cars["Make"] = list(map(lambda x:"Saleen" if ("Saleen"in x) else x, cars["Make"]))

In [10]:
cars["Make"] = list(map(lambda x:"Panoz Auto- Development" if ("Pano"in x) else x, cars["Make"]))

In [11]:
cars["Make"].unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'Aston Martin', 'Audi', 'Aurora Cars Ltd', 'Autokraft Limited',
       'BMW', 'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'Dutton', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer',
       'Hyundai', 'Import Foreign Auto Sales Inc',
       'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu',
       'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc',
       'Pagani', 'Panoz Auto- Development', 'Panther Car Company Limited',
       'Peugeot', 'Pininfarina', 'Plymouth', 'Pontiac', 'Porsche',
       'Quantum Technologies', 'Qvale', 'Ram', 'Red Shift Ltd.',
       'Renault', 'Rolls-Royce', 'Roush Performance',
       'Ruf Automobile Gmbh', 'SRT', 'Saab', 'Saleen', 'Saturn', 'Scion',
       'Shelby', 'Spyker', 'Sterling', 'Subaru', 'Suzuki',
       'TVR Engineering Ltd', 'Tecstar, LP', 'Texas Coach Company',
       'Toyota', 'VPG', 'Vector', 'Vixen Motor Company',
       'Volga Associated Automobile', 'Volkswagen', 'Volvo',
       'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

In [13]:
cars["Make"].value_counts()

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1680
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Roush Performance                     53
Lotus                                 53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
AM General                            26
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Federal Coach                         14
Merkur                                14
McLaren Automotive                    13
Spyker                                13
Import Trade Services                 13
Sterling                              12
Saleen                                 9
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
VPG                                    5
Bertone                                5
TVR Engineering Ltd                    4
Vector                                 4
Panther Car Company Limited            4
Autokraft Limited                      4
Texas Coach Company                    4
Grumman Olson                          4
Consulier Industries Inc               3
Morgan                                 3
Evans Automobiles                      3
Dabryan Coach Builders Inc             3
Dacia                                  3
Bitter Gmbh and Co. Kg                 3
Dutton                                 3
Red Shift Ltd.                         2
SRT                                    2
CCC Engineering                        2
Ruf Automobile Gmbh                    2
PAS, Inc                               2
Quantum Technologies                   2
Laforza Automobile Inc                 2
Pininfarina                            2
Panoz Auto- Development                2
Pagani                                 2
PAS Inc - GMC                          2
Mobility Ventures LLC                  2
Bill Dovell Motor Car Company          2
Aurora Cars Ltd                        1
Volga Associated Automobile            1
Vixen Motor Company                    1
Lambda Control Systems                 1
Shelby                                 1
Qvale                                  1
Excalibur Autos                        1
Fisker                                 1
General Motors                         1
Goldacre                               1
Grumman Allied Industries              1
Import Foreign Auto Sales Inc          1
Mahindra                               1
Isis Imports Ltd                       1
London Taxi                            1
London Coach Co Inc                    1
JBA Motorcars, Inc.                    1
ASC Incorporated                       1
Environmental Rsch and Devp Corp       1
Name: Make, dtype: int64

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

In [13]:
cars["CO2 Emissions Grams/Km"]= list(map(lambda x: x/1.60934, cars["CO2 Emission Grams/Mile"]))

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [14]:
cars["City MPG"]= list(map(lambda x: x*(1.60934/3.78541) , cars["City MPG"]))
cars["Highway MPG"]= list(map(lambda x:x*(1.60934/3.78541) , cars["Highway MPG"]))
cars["Combined MPG"]= list(map(lambda x: x*(1.60934/3.78541) , cars["Combined MPG"]))

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [15]:
# How many car makes
numb_unique_makes = len((cars["Make"].unique()))

#How many models
num_models = len((cars["Model"].unique()))

print(numb_unique_makes)
print(num_models)

121
3608

In [16]:
#Who has the most cars per make
cars["Make"].value_counts().index[0]

'Chevrolet'

#### What brand has the worse CO2 Emissions on average?
Hint: use the function `sort_values()`

In [24]:
cars.groupby('Make')

In [25]:
# Group all cars by make 
grouping_by_make = cars.groupby('Make')

In [36]:
# Calculate the average CO2 emissions per brand 
# Attention the result will be presented according to the make's order (in this case alphabetical) not the mean's

grouping_by_make['CO2 Emission Grams/Mile'].mean()

Make
AM General                           522.004888
ASC Incorporated                     555.437500
Acura                                422.585325
Alfa Romeo                           463.952115
Aston Martin                         672.617776
Audi                                 450.755841
Aurora Cars Ltd                      592.466667
Autokraft Limited                    539.101103
BMW                                  457.671323
Bentley                              686.046662
Bertone                              403.954545
Bill Dovell Motor Car Company        522.764706
Bitter Gmbh and Co. Kg               567.780556
Bugatti                              873.062500
Buick                                434.463852
CCC Engineering                      592.466667
CX Automotive                        552.506980
Cadillac                             496.281110
Chevrolet                            512.679300
Chrysler                             446.768491
Consulier Industries Inc             423.190476
Dabryan Coach Builders Inc           545.998693
Dacia                                386.391304
Daewoo                               387.757496
Daihatsu                             310.188060
Dodge                                554.504825
Dutton                               766.721569
Eagle                                411.148025
Environmental Rsch and Devp Corp     555.437500
Evans Automobiles                    467.736842
Excalibur Autos                      634.785714
Federal Coach                        580.308831
Ferrari                              712.636348
Fiat                                 304.666560
Fisker                               169.000000
Ford                                 515.466113
GMC                                  571.491172
General Motors                       493.722222
Genesis                              464.142857
Geo                                  337.077591
Goldacre                             493.722222
Grumman Allied Industries            522.764706
Grumman Olson                        356.337423
Honda                                357.532578
Hummer                               588.012030
Hyundai                              385.021692
Import Foreign Auto Sales Inc        467.736842
Import Trade Services                573.269904
Infiniti                             461.852334
Isis Imports Ltd                     444.350000
Isuzu                                491.217383
J.K. Motors                          629.243597
JBA Motorcars, Inc.                  592.466667
Jaguar                               493.394863
Jeep                                 498.780679
Kia                                  390.638805
Laforza Automobile Inc               807.909091
Lambda Control Systems               522.764706
Lamborghini                          754.782498
Land Rover                           600.735070
Lexus                                442.954935
Lincoln                              486.942827
London Coach Co Inc                  555.437500
London Taxi                          462.727273
Lotus                                444.492590
MINI                                 313.716862
Mahindra                             509.000000
Maserati                             620.700271
Maybach                              729.557279
Mazda                                421.322543
McLaren Automotive                   489.209402
Mcevoy Motors                        452.145614
Mercedes-Benz                        501.183149
Mercury                              436.918872
Merkur                               491.473067
Mitsubishi                           431.472106
Mobility Ventures LLC                547.500000
Morgan                               522.764706
Nissan                               456.157392
Oldsmobile                           440.716423
PAS Inc - GMC                        592.466667
PAS, Inc                             634.785714
Pagani                               671.000000
Panoz Auto- Development              498.210606
Panther Car Company Limited          439.060119
Peugeot                              469.227285
Pininfarina                          435.845694
Plymouth                             416.848378
Pontiac                              414.427198
Porsche                              463.810557
Quantum Technologies                 423.190476
Qvale                                423.190476
Ram                                  480.164035
Red Shift Ltd.                       386.391304
Renault                              359.826496
Rolls-Royce                          765.076650
Roush Performance                    621.915131
Ruf Automobile Gmbh                  683.615385
SRT                                  607.000000
Saab                                 443.488287
Saleen                               624.612866
Saturn                               376.315274
Scion                                331.395918
Shelby                               522.764706
Spyker                               581.743288
Sterling                             489.646084
Subaru                               404.316062
Suzuki                               392.747538
TVR Engineering Ltd                  493.722222
Tecstar, LP                          683.615385
Texas Coach Company                  740.583333
Toyota                               435.795803
VPG                                  571.325897
Vector                              1049.159722
Vixen Motor Company                  636.250000
Volga Associated Automobile          467.736842
Volkswagen                           392.741721
Volvo                                435.803755
Wallace Environmental                657.990029
Yugo                                 356.068256
smart                                247.030556
Name: CO2 Emission Grams/Mile, dtype: float64

In [37]:
### Sorting the values to get the most elevated concentration of CO2 first
### The first value corresponds with the worse CO2 Emissions on average
grouping_by_make['CO2 Emission Grams/Mile'].mean().sort_values(ascending=False)

Make
Vector                              1049.159722
Bugatti                              873.062500
Laforza Automobile Inc               807.909091
Dutton                               766.721569
Rolls-Royce                          765.076650
Lamborghini                          754.782498
Texas Coach Company                  740.583333
Maybach                              729.557279
Ferrari                              712.636348
Bentley                              686.046662
Tecstar, LP                          683.615385
Ruf Automobile Gmbh                  683.615385
Aston Martin                         672.617776
Pagani                               671.000000
Wallace Environmental                657.990029
Vixen Motor Company                  636.250000
Excalibur Autos                      634.785714
PAS, Inc                             634.785714
J.K. Motors                          629.243597
Saleen                               624.612866
Roush Performance                    621.915131
Maserati                             620.700271
SRT                                  607.000000
Land Rover                           600.735070
CCC Engineering                      592.466667
JBA Motorcars, Inc.                  592.466667
Aurora Cars Ltd                      592.466667
PAS Inc - GMC                        592.466667
Hummer                               588.012030
Spyker                               581.743288
Federal Coach                        580.308831
Import Trade Services                573.269904
GMC                                  571.491172
VPG                                  571.325897
Bitter Gmbh and Co. Kg               567.780556
ASC Incorporated                     555.437500
Environmental Rsch and Devp Corp     555.437500
London Coach Co Inc                  555.437500
Dodge                                554.504825
CX Automotive                        552.506980
Mobility Ventures LLC                547.500000
Dabryan Coach Builders Inc           545.998693
Autokraft Limited                    539.101103
Lambda Control Systems               522.764706
Morgan                               522.764706
Grumman Allied Industries            522.764706
Shelby                               522.764706
Bill Dovell Motor Car Company        522.764706
AM General                           522.004888
Ford                                 515.466113
Chevrolet                            512.679300
Mahindra                             509.000000
Mercedes-Benz                        501.183149
Jeep                                 498.780679
Panoz Auto- Development              498.210606
Cadillac                             496.281110
Goldacre                             493.722222
TVR Engineering Ltd                  493.722222
General Motors                       493.722222
Jaguar                               493.394863
Merkur                               491.473067
Isuzu                                491.217383
Sterling                             489.646084
McLaren Automotive                   489.209402
Lincoln                              486.942827
Ram                                  480.164035
Peugeot                              469.227285
Volga Associated Automobile          467.736842
Import Foreign Auto Sales Inc        467.736842
Evans Automobiles                    467.736842
Genesis                              464.142857
Alfa Romeo                           463.952115
Porsche                              463.810557
London Taxi                          462.727273
Infiniti                             461.852334
BMW                                  457.671323
Nissan                               456.157392
Mcevoy Motors                        452.145614
Audi                                 450.755841
Chrysler                             446.768491
Lotus                                444.492590
Isis Imports Ltd                     444.350000
Saab                                 443.488287
Lexus                                442.954935
Oldsmobile                           440.716423
Panther Car Company Limited          439.060119
Mercury                              436.918872
Pininfarina                          435.845694
Volvo                                435.803755
Toyota                               435.795803
Buick                                434.463852
Mitsubishi                           431.472106
Qvale                                423.190476
Consulier Industries Inc             423.190476
Quantum Technologies                 423.190476
Acura                                422.585325
Mazda                                421.322543
Plymouth                             416.848378
Pontiac                              414.427198
Eagle                                411.148025
Subaru                               404.316062
Bertone                              403.954545
Suzuki                               392.747538
Volkswagen                           392.741721
Kia                                  390.638805
Daewoo                               387.757496
Dacia                                386.391304
Red Shift Ltd.                       386.391304
Hyundai                              385.021692
Saturn                               376.315274
Renault                              359.826496
Honda                                357.532578
Grumman Olson                        356.337423
Yugo                                 356.068256
Geo                                  337.077591
Scion                                331.395918
MINI                                 313.716862
Daihatsu                             310.188060
Fiat                                 304.666560
smart                                247.030556
Fisker                               169.000000
Name: CO2 Emission Grams/Mile, dtype: float64

#### Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [39]:
##Change the transmission's type for practicality 
##just for this ex. because the replacement is causing a lost of the transmission specifics..better to create a new column! 

cars["Transmission"] = list(map(lambda x:"Automatic" if ("Auto"in x) else x, cars["Transmission"]))
cars["Transmission"] = list(map(lambda x:"Manual" if ("Manual"in x) else x, cars["Transmission"]))

In [40]:
# Find the average consumption of each group inside transmissions and compare

cars.groupby('Transmission')['Fuel Barrels/Year'].mean().sort_values(ascending=False)

Transmission
Automatic    18.043152
Manual       16.704904
Name: Fuel Barrels/Year, dtype: float64