Instructions
It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

#### Set up the hypothesis test.
Write down all the steps followed for setting up the test.
Calculate the test statistic by hand and also code it in Python. It should be 4.76190. What decision can you make based on this calculated value?

In [1]:
pop_mean = 120
n= 100
sample_mean= 130.1
std_sample = 21.21

import scipy.stats as stats
import math
import pandas as pd

Defening Hypothesis:
Ho= The systolic blood pressure of sample group is within the average == 120

Defining alternative hypothesis:
Ha= The systolic blod pressure of sample group != 120

Decide a test statistic :  two tails 
T Test for lack of a pop std

In [2]:
# t_score = (130-120)/(std_sample/√100)

t_score = (sample_mean - pop_mean) / (std_sample / math.sqrt(n))
t_score

4.761904761904759

In [4]:
critical_value = +-stats.t.ppf(1-(0.95/2), df=99)

In [5]:
critical_value

-0.0628659526643502

As after the test statistic t_score> critical_value, I reject the H0 hypothesis.

### Activity 2 
#### In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file Data/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [6]:
machine_data= pd.read_csv("Data_Machine.txt", sep="\t")

H0 = New machine is slower or as fast as the old one 
avg_new_machine => avg_old_machine

Ha = New machine is faster
avg_new_machine < avg_old_machine

In [8]:
machine_data

   New Machine    Old Machine
0         42.1           42.7
1         41.0           43.6
2         41.3           43.8
3         41.8           43.3
4         42.4           42.5
5         42.8           43.5
6         43.2           43.1
7         42.3           41.7
8         41.8           44.0
9         42.7           44.1

In [9]:
new_machine = machine_data['New Machine']

In [10]:
avg_new_machine = machine_data['New Machine'].mean()

In [11]:
avg_new_machine

42.14

In [12]:
def delete_spaces(machine_data):
    machine_data.columns = [i.strip() for i in machine_data.columns]
    return machine_data

In [13]:
delete_spaces(machine_data)

   New Machine  Old Machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [14]:
machine_data.columns

Index(['New Machine', 'Old Machine'], dtype='object')

In [15]:
old_machine = machine_data['Old Machine'] 
avg_old_machine = old_machine = machine_data['Old Machine'].mean()

In [16]:
avg_old_machine = machine_data['Old Machine'].mean()
avg_old_machine

43.230000000000004

In [17]:
new_machine_std= machine_data['New Machine'].std()

In [18]:
round(new_machine_std,2)

0.68

In [19]:
old_machine_std= machine_data['Old Machine'].std()
round(old_machine_std,2)

0.75

In [20]:
import numpy as np

In [27]:
t_value = (avg_old_machine-avg_new_machine)/ np.sqrt( ((new_machine_std**2)/10 + ((old_machine_std**2)/10)))
print("Our t statistic is: {:.2f}".format(t_value))

Our t statistic is: 3.40

In [26]:
tc = stats.t.ppf(1-(0.05),df=9) 

print("The tc critical value is: {:.2f}".format(tc))

The tc critical value is: 1.83

In [28]:
t_value > tc

True

The H0 is rejected.