In [1]:
import pandas as pd
import pyreadstat

df = pyreadstat.read_sav('Volunteerism_2014_only_responses_04112014.sav')
df

(          id  res  settype  stratum        indwt  sex   age  a1_1  a1_2  a1_3  \
 0     1821.0  1.0      2.0      2.0  2023.881348  1.0  18.0   0.0   0.0   0.0
 1     3187.0  1.0      2.0      3.0  1469.627930  1.0  30.0   0.0   0.0   0.0
 2     2329.0  1.0      1.0      1.0  2348.268799  1.0  27.0   0.0   0.0   0.0
 3     7616.0  1.0      1.0      1.0  2058.008545  1.0  34.0   0.0   0.0   0.0
 4     8523.0  1.0      1.0      1.0  3426.511475  1.0  19.0   0.0   0.0   0.0
 ...      ...  ...      ...      ...          ...  ...   ...   ...   ...   ...
 2405  1720.0  1.0      3.0      4.0  1056.470825  2.0  72.0   0.0   0.0   0.0
 2406  1022.0  1.0      2.0      2.0   627.192932  2.0  69.0   0.0   0.0   0.0
 2407  3934.0  1.0      1.0      1.0   346.886810  2.0  68.0   0.0   0.0   0.0
 2408  8815.0  1.0      2.0      3.0   672.276550  2.0  56.0   0.0   0.0   0.0
 2409  4136.0  1.0      3.0      4.0  1508.201904  2.0  61.0   0.0   0.0   0.0

       ...  c3_time    int_date  int_start    int_end   int_dur  accept  \
 0     ...   -0.007  2014-05-01  39751.680  42242.048  2490.368     1.0
 1     ...   -0.007  2014-04-30  68873.216  70183.936  1310.720     1.0
 2     ...   -0.007  2014-04-26  66870.272  68967.424  2097.152     1.0
 3     ...   -0.007  2014-04-27  70123.520  72744.960  2621.440     1.0
 4     ...   -0.007  2014-05-03  52156.416  53729.280  1572.864     1.0
 ...   ...      ...         ...        ...        ...       ...     ...
 2405  ...   -0.007  2014-04-29  42813.440  45172.736  2359.296     1.0
 2406  ...   -0.007  2014-05-04  52263.936  53574.656  1310.720     1.0
 2407  ...   -0.007  2014-05-03  36689.920  39311.360  2621.440     1.0
 2408  ...   -0.007  2014-04-30  50523.136  51178.496   655.360     1.0
 2409  ...   -0.007  2014-04-29  57755.648  60246.016  2490.368     1.0

       npsuss  nhhpsu  nadhh        hhwt
 0      102.0   527.0    2.0  694.975830
 1      171.0   203.0    4.0  252.326050
 2      718.0   406.0    4.0  403.183258
 3      718.0   536.0    2.0  706.694763
 4      718.0   396.0    5.0  470.648712
 ...      ...     ...    ...         ...
 2405   496.0   166.0    2.0  661.132996
 2406    32.0   537.0    2.0  392.493561
 2407   718.0   512.0    1.0  434.159332
 2408   171.0   561.0    3.0  280.471039
 2409   496.0   315.0    2.0  943.823669

 [2410 rows x 306 columns],
 <pyreadstat._readstat_parser.metadata_container at 0x7fd0ffc52100>)

In [2]:
type(df)

tuple

In [3]:
type(df[1])

pyreadstat._readstat_parser.metadata_container

In [ ]:
#df.shape

In [ ]:
#df = pd.DataFrame(list(df))
df

In [ ]:
df= list(df)

In [ ]:
df

In [ ]:
df_data = pd.DataFrame(df)
print(df_data)

In [ ]:
df_dtype = pd.DataFrame(df, dtype='object')
print(df_dtype)