## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [21]:
# First try
sample_list_1= random.sample(range(0,101), 80)
     
print(sample_list_1)
len(sample_list_1)

[74, 78, 66, 90, 46, 85, 62, 17, 23, 58, 45, 18, 28, 19, 6, 10, 34, 33, 65, 39, 42, 64, 80, 59, 63, 72, 98, 2, 15, 88, 38, 8, 68, 35, 9, 40, 75, 20, 83, 50, 25, 87, 43, 12, 94, 27, 7, 95, 96, 55, 13, 29, 56, 26, 48, 0, 37, 4, 84, 49, 73, 14, 93, 76, 82, 61, 57, 22, 71, 86, 21, 100, 11, 67, 60, 53, 81, 3, 79, 54]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [22]:
# Your code here
set1= set(sample_list_1)
print(set1)
len(set1)

{0, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 98, 100}

80

[13, 33, 41, 81, 29, 35, 92, 80, 91, 94, 77, 45, 58, 10, 84, 43, 35, 42, 91, 25, 25, 45, 3, 58, 17, 81, 61, 20, 55, 90, 1, 45, 90, 0, 16, 15, 28, 95, 21, 60, 74, 91, 84, 17, 68, 85, 49, 38, 13, 45, 42, 64, 65, 58, 90, 60, 64, 12, 9, 16, 70, 0, 17, 46, 8, 50, 1, 69, 9, 78, 81, 77, 62, 69, 46, 48, 57, 88, 95, 31, 31, 22, 38, 76, 61, 88, 88, 29, 5, 68, 99, 52, 12, 96, 75, 65, 16, 70, 78, 52]

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [26]:
# Your code here
sample_list_2=[]

for i in range (80):
    sample_list_2.append(random.randint(0,101))

print(sample_list_2)
len(sample_list_2)

[69, 21, 45, 15, 6, 57, 78, 75, 31, 74, 26, 88, 42, 97, 15, 4, 20, 31, 32, 28, 76, 47, 71, 97, 59, 92, 63, 0, 51, 70, 91, 17, 59, 5, 90, 83, 73, 23, 85, 78, 1, 80, 11, 30, 59, 57, 14, 42, 36, 47, 72, 90, 16, 21, 96, 74, 77, 43, 98, 82, 34, 89, 72, 66, 60, 82, 2, 80, 75, 85, 19, 25, 76, 0, 2, 49, 11, 81, 4, 86]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [29]:
set2= set(sample_list_2)
len(set2)

# Set 2 has 58 elements instead of 80 because the set() function doesn't count repeated elements.

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [31]:
# Your code here
a = set1
b = set2
set3 = a-b 
print(set3)

{3, 7, 8, 9, 10, 12, 13, 18, 22, 27, 29, 33, 35, 37, 38, 39, 40, 46, 48, 50, 53, 54, 55, 56, 58, 61, 62, 64, 65, 67, 68, 79, 84, 87, 93, 94, 95, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [33]:
set4 = b-a
print(set4)

{32, 1, 97, 36, 5, 69, 70, 77, 47, 16, 51, 89, 91, 92, 30, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [35]:
# Your code here
set5= set1.intersection(set2)
print(set5)

{0, 2, 4, 6, 11, 14, 15, 17, 19, 20, 21, 23, 25, 26, 28, 34, 42, 43, 45, 49, 57, 59, 60, 63, 66, 71, 72, 73, 74, 75, 76, 78, 80, 81, 82, 83, 85, 86, 88, 90, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [1]:
# Your code here

len(set3)+len(set4)+len(set5)=(len(set1)+len(set2)-len(set5))

SyntaxError: cannot assign to operator (2953006033.py, line 2)

#### Create an empty set called `set6`.

In [44]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [45]:
set6.update(set5)

print(set6)

{0, 2, 4, 6, 11, 14, 15, 17, 19, 20, 21, 23, 25, 26, 28, 34, 42, 43, 45, 49, 57, 59, 60, 63, 66, 71, 72, 73, 74, 75, 76, 78, 80, 81, 82, 83, 85, 86, 88, 90, 96, 98}

In [47]:
set6.update(set3)

print(set6)

#alternatively do them together set6.update(set3,set5)

{0, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 98, 100}

#### Check if `set1` and `set6` are equal.

In [48]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
set2.issubset(set1)

False

In [50]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [53]:
setx = set3.union(set4,set5)

print(setx)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

In [54]:
setx_2= set1.union(set2)
print(setx_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

In [55]:
setx == setx_2

True

#### Using the `pop` method, remove an element from `set1`.

In [59]:
# Your code here
set1.pop()

2

{2,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 29,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 42,
 43,
 45,
 46,
 48,
 49,
 50,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 71,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 90,
 93,
 94,
 95,
 96,
 98,
 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [61]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)

{3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 98, 100}

In [62]:
set1.difference_update(list_to_remove)

print("set1 without the list_to_remove: ")
print(set1)

set1 without the list_to_remove:
{3, 4, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 25, 26, 27, 28, 33, 34, 35, 37, 38, 40, 42, 43, 45, 46, 48, 50, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 98, 100}