# Using Pandas

In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [4]:
## Your Code here
cars = pd.read_csv("vehicles.csv")
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [5]:
## Your Code here
cars.shape

(35952, 15)

In [6]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [7]:
## Your Code here
cars["Make"] = list(map(lambda x:"Dutton" if ("Dutton"in x) else x, cars["Make"]))

In [8]:
cars.index[np.where(cars['Make'] == 'Dutton')]

Int64Index([11012, 30164, 31754], dtype='int64')

In [9]:
cars.loc[11012,"Make"]

'Dutton'

In [10]:
cars["Make"] = list(map(lambda x:"AM General" if ("American Motors Corporation"in x) else x, cars["Make"]))

In [11]:
cars["Make"] = list(map(lambda x:"BMW" if ("BMW Alpina"in x) else x, cars["Make"]))

In [12]:
cars["Make"].unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'Aston Martin', 'Audi', 'Aurora Cars Ltd', 'Autokraft Limited',
       'BMW', 'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'Dutton', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer',
       'Hyundai', 'Import Foreign Auto Sales Inc',
       'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu',
       'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc',
       'Pagani', 'Panos', 'Panoz Auto-Development',
       'Panther Car Company Limited', 'Peugeot', 'Pininfarina',
       'Plymouth', 'Pontiac', 'Porsche', 'Quantum Technologies', 'Qvale',
       'Ram', 'Red Shift Ltd.', 'Renault', 'Rolls-Royce',
       'Roush Performance', 'Ruf Automobile Gmbh', 'SRT', 'Saab',
       'Saleen', 'Saleen Performance', 'Saturn', 'Scion', 'Shelby',
       'Spyker', 'Sterling', 'Subaru', 'Suzuki', 'TVR Engineering Ltd',
       'Tecstar, LP', 'Texas Coach Company', 'Toyota', 'VPG', 'Vector',
       'Vixen Motor Company', 'Volga Associated Automobile', 'Volkswagen',
       'Volvo', 'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

In [13]:
cars["CO2 Emissions Grams/Km"]= list(map(lambda x: x/1.60934, cars["CO2 Emission Grams/Mile"]))

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [14]:
cars["City MPG"]= list(map(lambda x: x*(1.60934/3.78541) , cars["City MPG"]))
cars["Highway MPG"]= list(map(lambda x:x*(1.60934/3.78541) , cars["Highway MPG"]))
cars["Combined MPG"]= list(map(lambda x: x*(1.60934/3.78541) , cars["Combined MPG"]))

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [22]:
# How many car makes
numb_unique_makes = len((cars["Make"].unique()))

#How many models
num_models = len((cars["Model"].unique()))

print(numb_unique_makes)
print(num_models)

123
3608

In [16]:
#Who has the most cars per make
cars["Make"].value_counts().index[0]

'Chevrolet'

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [21]:
###

3071       37.000000
3069       40.000000
3070       40.000000
7916       51.000000
7917       51.000000
            ...
20897    1269.571429
20894    1269.571429
20898    1269.571429
20896    1269.571429
20895    1269.571429
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [18]:
## Your Code is here